body{
    background-image: url("fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    background-color: aquamarine;
}
.label{
        padding: 90px;
        
    }
