body{
    background-image: url("fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
}
.container{
    font-size: 20px;
    color: white;
}
.button{
    width: 20px;
    height: 20%;
    size: 15px;
    border: 2px;
    border-radius: 10%;
}